#root {
  margin: 0;
  text-align: center;
  width: 243.2rem;
}

.all {
  margin-left: 2.5rem;
}

.info {
  width: 9rem;
}

.infoLabel {
  font-size: 0.8rem;
  color: darkgray;
}

#circle {
  font-size: 0.7rem;
}

.inputPag {
  width: 1rem;
  background: rgb(29, 27, 27);
  border-style: none;
}